<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<script src="bootstrap/js/jquery.min2.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="estilos.css" />
<link rel="shortcut icon" href="img/proergon.ico" type="image/x-icon" />
<title>Pesquisa - A Voz do Cliente</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript">
	
	
	function iniciarFollow() {

		window
				.setInterval(
						function() {
							var dados = jQuery('#form').serialize();
							jQuery
									.ajax({
										type : "POST",
										url : "aconpanhapesquisa",
										data : dados,
										success : function(data) {
											
											
											if(data.sucesso == 'true'){
											
												$("#danger").html("<div ></div>");		
																		
											
											$("#equipe").html(
													"<span>" + data.equipe
															+ "</span>");

											if (data.total > data.p1) {
												$("#divSucesso1")
														.html(
																"<div ><span>"
																		+ data.total
																		+ "</spam>/<span>"
																		+ data.p1
																		+ "</span></div>");

											} else {

												$("#divSucesso1")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span  class='badge badge-danger'>"
																		+ data.p1
																		+ "</span></div>");
												

											}

											if (data.total > data.p2) {
												$("#divSucesso2")
														.html(
																"<div ><span>"
																		+ data.total
																		+ "</spam>/<span>"
																		+ data.p2
																		+ "</span></div>");

											} else {

												$("#divSucesso2")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p2
																		+ "</span></div>");
												

											}
											
if (data.total > data.p3) {
											$("#divSucesso3").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p3
															+ "</span></div>");
							} else {

												$("#divSucesso3")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p3
																		+ "</span></div>");
												

											}								
															
if (data.total > data.p4) {															
											$("#divSucesso4").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p4
															+ "</span></div>");
															
										} else {

												$("#divSucesso4")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p4
																		+ "</span></div>");
												

											}							
													
													
if (data.total > data.p5) {															
															
															
											$("#divSucesso5").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p5
															+ "</span></div>");
								} else {

												$("#divSucesso5")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p5
																		+ "</span></div>");
												

											}									
															
	if (data.total > data.p6) {																	
															
															
											$("#divSucesso6").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p6
															+ "</span></div>");
															
									} else {

												$("#divSucesso6")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p6
																		+ "</span></div>");
												

											}							
															
												
	if (data.total > data.p7) {																	
															
											$("#divSucesso7").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p7
															+ "</span></div>");
															
													
									} else {

												$("#divSucesso7")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p7
																		+ "</span></div>");
												

											}							
																							
															
	if (data.total > data.p8) {																	
															
															
											$("#divSucesso8").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p8
															+ "</span></div>");
															
									} else {

												$("#divSucesso8")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p8
																		+ "</span></div>");
												

											}									
															
			if (data.total > data.p9) {														
															
															
											$("#divSucesso9").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p9
															+ "</span></div>");
															
								} else {

												$("#divSucesso9")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p9
																		+ "</span></div>");
												

											}										
															
						if (data.total > data.p10) {											
															
											$("#divSucesso10").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p10
															+ "</span></div>");
															
															
															
								} else {

												$("#divSucesso10")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p10
																		+ "</span></div>");
												

											}											
															
								if (data.total > data.p11) {											
															
															
											$("#divSucesso11").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p11
															+ "</span></div>");
															
										} else {

												$("#divSucesso11")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p11
																		+ "</span></div>");
												

											}											
																	
									if (data.total > data.p12) {									
															
															
											$("#divSucesso12").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p12
															+ "</span></div>");
															
										} else {

												$("#divSucesso12")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p12
																		+ "</span></div>");
												

											}											
																			
									if (data.total > data.p13) {								
															
															
															
											$("#divSucesso13").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p13
															+ "</span></div>");
															
															
										} else {

												$("#divSucesso13")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p13
																		+ "</span></div>");
												

											}								
															
										if (data.total > data.p14) {								
															
											$("#divSucesso14").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p14
															+ "</span></div>");
															
										} else {

												$("#divSucesso14")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p14
																		+ "</span></div>");
												

											}								
															
											if (data.total > data.p15) {						
															
															
											$("#divSucesso15").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p15
															+ "</span></div>");
															
											} else {

												$("#divSucesso15")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p15
																		+ "</span></div>");
												

											}						
												if (data.total > data.p16) {					
															
															
											$("#divSucesso16").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p16
															+ "</span></div>");
												} else {

												$("#divSucesso16")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p16
																		+ "</span></div>");
												

											}					
															
										if (data.total > data.p17) {						
															
															
															
											$("#divSucesso17").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p17
															+ "</span></div>");
															
															
											} else {

												$("#divSucesso17")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p17
																		+ "</span></div>");
												

											}						
															
										if (data.total > data.p18) {							
															
															
											$("#divSucesso18").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p18
															+ "</span></div>");
															
										} else {

												$("#divSucesso18")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p18
																		+ "</span></div>");
												

											}						
															
															
										if (data.total > data.p19) {							
															
															
											$("#divSucesso19").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p19
															+ "</span></div>");
															
															
											} else {

												$("#divSucesso19")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p19
																		+ "</span></div>");
												

											}						
																		
										if (data.total > data.p20) {							
															
															
											$("#divSucesso20").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p20
															+ "</span></div>");
															
															
											} else {

												$("#divSucesso20")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p20
																		+ "</span></div>");
												

											}							
															
										if (data.total > data.p21) {							
															
															
											$("#divSucesso21").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p21
															+ "</span></div>");
															
															
											} else {

												$("#divSucesso21")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p21
																		+ "</span></div>");
												

											}								
															
											if (data.total > data.p22) {						
															
															
											$("#divSucesso22").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p22
															+ "</span></div>");
															
										} else {

												$("#divSucesso22")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p22
																		+ "</span></div>");
												

											}							
															
									if (data.total > data.p23) {								
															
															
											$("#divSucesso23").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p23
															+ "</span></div>");
															
								} else {

												$("#divSucesso23")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p23
																		+ "</span></div>");
												

											}	
											
											
																				
								if (data.total > data.p24) {									
															
											$("#divSucesso24").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p24
															+ "</span></div>");
										} else {

												$("#divSucesso24")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p24
																		+ "</span></div>");
												

											}						
												
												
								if (data.total > data.p25) {					
												
															
											$("#divSucesso25").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p25
															+ "</span></div>");
															
							} else {

												$("#divSucesso25")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p25
																		+ "</span></div>");
												

											}						
																				
								if (data.total > data.p26) {									
															
															
															
											$("#divSucesso26").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p26
															+ "</span></div>");
															
										} else {

												$("#divSucesso26")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p26
																		+ "</span></div>");
												

											}								
															
									if (data.total > data.p27) {								
															
															
											$("#divSucesso27").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p27
															+ "</span></div>");
															
								} else {

												$("#divSucesso27")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p27
																		+ "</span></div>");
												

											}									
															
															
									if (data.total > data.p28) {								
															
															
															
											$("#divSucesso28").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p28
															+ "</span></div>");
															
															
										} else {

												$("#divSucesso28")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p28
																		+ "</span></div>");
												

											}							
															
										if (data.total > data.p29) {						
															
											$("#divSucesso29").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p29
															+ "</span></div>");
															
															
															} else {

												$("#divSucesso29")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p29
																		+ "</span></div>");
												

											}		
											
											if (data.total > data.p30) {		
											
											
											$("#divSucesso30").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p30
															+ "</span></div>");
															
												} else {

												$("#divSucesso30")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p30
																+ "</span></div>");
												

											}						
															
											if (data.total > data.p31) {					
															
											$("#divSucesso31").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p31
															+ "</span></div>");
															
											} else {

												$("#divSucesso31")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p31
																		+ "</span></div>");
												

											}						
															
											if (data.total > data.p32) {					
															
											$("#divSucesso32").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p32
															+ "</span></div>");
											} else {

												$("#divSucesso32")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p32
																		+ "</span></div>");
												

											}						
										if (data.total > data.p33) {							
															
											$("#divSucesso33").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p33
															+ "</span></div>");
															
															
										} else {

												$("#divSucesso33")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p33
																		+ "</span></div>");
												

											}						
															
															
											if (data.total > data.p34) {						
															
															
											$("#divSucesso34").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p34
															+ "</span></div>");
															
											} else {

												$("#divSucesso34")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p34
																		+ "</span></div>");
												

											}							
												if (data.total > data.p35) {						
															
											$("#divSucesso35").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p35
															+ "</span></div>");
															
															
															
															} else {

												$("#divSucesso35")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p35
																		+ "</span></div>");
												

											}		
											
											
												if (data.total > data.p36) {		
											
											
											$("#divSucesso36").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p36
															+ "</span></div>");
															
															
															
																} else {

												$("#divSucesso36")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p36
																		+ "</span></div>");
												

											}		
											
											if (data.total > data.p38) {		
											
											
											$("#divSucesso38").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p38
															+ "</span></div>");
															
															
															
																} else {

												$("#divSucesso38")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p38
																		+ "</span></div>");
												

											}	
											if (data.total > data.p37) {		
											
											
											$("#divSucesso37").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p37
															+ "</span></div>");
															
															
															
																} else {

												$("#divSucesso37")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p37
																		+ "</span></div>");
												

											}	
											if (data.total > data.p39) {	
											
											
											$("#divSucesso39").html(
													"<div ><span>" + data.total
															+ "</spam>/<span>"
															+ data.p39
															+ "</span></div>");



												} else {

												$("#divSucesso39")
														.html(
																"<div><span>"
																		+ data.total
																		+ "</spam>/<span class='badge badge-danger'>"
																		+ data.p39
																		+ "</span></div>");
																		
																		
																		
																	

											}	
											
											
												}else{
																
																
																
																$("#danger").html(
																			"<div class='alert alert-danger'><strong>Atenção!!</strong> Não há pesquisa ativa, caso esteja monitorando, ative-a e recarregue a pagina.</div>");		
																		
																		
																		}
													
											
										}
									});
						}, 1000);
	}
	window.addEventListener("load", iniciarFollow);
</script>
</head>
<body>





	<br />
	<div class="container">
		<div class="header">
			<a><img border="0" alt="Proergon" src="img/logo_proergon.png"
				height="50px" /></a>


			<div
				style="background-color: RGBA(34, 139, 34, 1); border-radius: 8px; padding: 10px; color: #FFF; font: Arial;">
				<h2>
					Nome da equipe:
					<div id="equipe"></div>
				</h2>
				<h5>Monitoramento</h5>
				
				
			</div>
			
			<div id="danger"></div>
		</div>
		
		<form method="POST" action="" id="form" name="form">
		<input type="hidden" name="id" th:value="${pesquisa.id}" />
		</form>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>

						<th>Questão:</th>
						<th>Total/Respondido</th>
						<th>Questão:</th>
						<th>Total/Respondido</th>
						<th>Questão:</th>
						<th>Total/Respondido</th>
						<th>Questão:</th>
						<th>Total/Respondido</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>
		
							<div id="divSucesso1"></div>
						</td>
						<td>11</td>
						<td>
							<div id="divSucesso11"></div>
						</td>
						<td>21</td>
						<td>
							<div id="divSucesso21"></div>
						</td>
						
						<td>31</td>
						<td>
							<div id="divSucesso31"></div>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>
							<div id="divSucesso2"></div>
						</td>
						<td>12</td>
						<td>
							<div id="divSucesso12"></div>
						</td>
						<td>22</td>
						<td>
							<div id="divSucesso22"></div>
						</td>
						
						<td>32</td>
						<td>
							<div id="divSucesso32"></div>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>
							<div id="divSucesso3"></div>
						</td>
						<td>13</td>
						<td>
							<div id="divSucesso13"></div>
						</td>
						<td>23</td>
						<td>
							<div id="divSucesso23"></div>
						</td>
						
						<td>33</td>
						<td>
							<div id="divSucesso33"></div>
						</td>
					</tr>
					<tr>
						<td>4</td>
						<td>
							<div id="divSucesso4"></div>
						</td>
						<td>14</td>
						<td>
							<div id="divSucesso14"></div>
						</td>
						<td>24</td>
						<td>
							<div id="divSucesso24"></div>
						</td>
						
						<td>34</td>
						<td>
							<div id="divSucesso34"></div>
						</td>
					</tr>
					<tr>
						<td>5</td>
						<td>
							<div id="divSucesso5" style="background-color:"></div>
						</td>
						<td>15</td>
						<td>
							<div id="divSucesso15"></div>
						</td>
						<td>25</td>
						<td>
							<div id="divSucesso25"></div>
						</td>
						
						<td>35</td>
						<td>
							<div id="divSucesso35"></div>
						</td>
					
					</tr>
					<tr>
						<td>6</td>
						<td>
							<div id="divSucesso6"></div>
						</td>
						<td>16</td>
						<td>
							<div id="divSucesso16"></div>
						</td>
						<td>26</td>
						<td>
							<div id="divSucesso26"></div>
						</td>
						
						<td>36</td>
						<td>
							<div id="divSucesso36"></div>
						</td>
					
					</tr>
					<tr>
						<td>7</td>
						<td>
							<div id="divSucesso7"></div>
						</td>
						<td>17</td>
						<td>
							<div id="divSucesso17"></div>
						</td>
						<td>27</td>
						<td>
							<div id="divSucesso27"></div>
						</td>
						
						<td>37</td>
						<td>
							<div id="divSucesso37"></div>
						</td>
					</tr>
					<tr>
						<td>8</td>
						<td>
							<div id="divSucesso8"></div>
						</td>
						<td>18</td>
						<td>
							<div id="divSucesso18"></div>
						</td>
						<td>28</td>
						<td>
							<div id="divSucesso28"></div>
						</td>
						
						<td>38</td>
						<td>
							<div id="divSucesso38"></div>
						</td>
					
					</tr>
					<tr>
						<td>9</td>
						<td>
							<div id="divSucesso9"></div>
						</td>
						<td>19</td>
						<td>
							<div id="divSucesso19"></div>
						</td>
						<td>29</td>
						<td>
							<div id="divSucesso29"></div>
						</td>
						
						<td>39</td>
						<td>
							<div id="divSucesso39"></div>
						</td>
					</tr>
						<tr>
						<td>10</td>
						<td>
							<div id="divSucesso10"></div>
						</td>
						<td>20</td>
						<td>
							<div id="divSucesso20"></div>
						</td>
						<td>30</td>
						<td>
							<div id="divSucesso30"></div>
						</td>
					
			
					</tr>


				</tbody>
			</table>
			<hr />
		</div>
	</div>
	<br />

	<hr />
	<footer id="footer" class="footer"> 2018 © Proergon. Todos os
		direitos reservados. </footer>
	<!--  <script src="jquery.js"></script>-->
	<script src="bootstrap/js/tether.min.js"></script>
	<script src="bootstrap/js/jquery.min2.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>