<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="estilos.css" />
<link rel="shortcut icon" href="img/proergon.ico" type="image/x-icon" />
<title>Pesquisa - A Voz do Cliente</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript">
	function getUserIP(onNewIP) {
		var myPeerConnection = window.RTCPeerConnection
				|| window.mozRTCPeerConnection
				|| window.webkitRTCPeerConnection;
		var pc = new myPeerConnection({
			iceServers : []
		}), noop = function() {
		}, localIPs = {}, ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g, key;

		function iterateIP(ip) {
			if (!localIPs[ip])
				onNewIP(ip);
			localIPs[ip] = true;
		}

		//create a bogus data channel
		pc.createDataChannel("");

		// create offer and set local description
		pc.createOffer(function(sdp) {
			sdp.sdp.split('\n').forEach(function(line) {
				if (line.indexOf('candidate') < 0)
					return;
				line.match(ipRegex).forEach(iterateIP);
			});

			pc.setLocalDescription(sdp, noop, noop);
		}, noop);

		//listen for candidate events
		pc.onicecandidate = function(ice) {
			if (!ice || !ice.candidate || !ice.candidate.candidate
					|| !ice.candidate.candidate.match(ipRegex))
				return;
			ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
		};
	}

	// Usage

	getUserIP(function(ip) {
		document.getElementById("ip").value = ip;
	});
</script>
</head>
<body>
	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h5 class="modal-title">Vídeo de Instruções</h5>
				</div>
				<div class="modal-body container">
					<video width="320" height="240" p controls="controls" id="players">
						<source src="img/Ergonomia.mp4" type="video/mp4">
					</video>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success btn-sm"
						data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container">

		<a><img border="0" alt="Proergon" src="img/logo_proergon.png"
			height="50px" /></a>
		<div
			style="background-color: RGBA(34, 139, 34, 0.8); border-radius: 8px; padding: 10px; color: #FFF; font: Arial;">
			<h2>
				Nome da equipe: <span th:text="${pesquisa.nomeequipe}"></span>
			</h2>
			<h5>
				Data de da Pesquisa: <span th:text="${pesquisa.data}" align="rigth"></span>
			</h5>
		</div>

<hr />

		<div id="listaDeContato">
			<div class="container">

				<form action="salvarpesquisa" method="post" th:object="${question}">

					<div class="panel-group">
						<div class="panel panel-default">
							<div th:each="contato : ${contatos}">
								<div class="panel-heading">
									<strong><span th:text="${contato.id}" style="font-size: 24px;"></span> <span
										th:text="${contato.question}" style="font-size: 24px;"></span></strong>
								</div>
								<div class="panel-body">
									<div class="grupo-radio">

										<div class="radio">

											<label th:each="alternative : ${contato.alternatives}"
												class="custom-control custom-checkbox container">
												<div th:switch="${contato.type}" style=" width: 200px;"  >
													<input th:case="1" type="radio"
														th:attr="name=${contato.id}" th:value="${alternative.ind}"
														class="custom-control-input" required="required" /> <input
														th:case="2" type="checkbox" th:attr="name=${contato.id}"
														th:value="${alternative.ind}" class="custom-control-input" />
													<span class="custom-control-indicator"></span> <div style="margin-bottom10px:10px;"><span  style="font-size: 24px;"
														th:text="${alternative.letter}+.+${alternative.text}"
														class="custom-control-description"></span></div>
												</div>
											</label>
										</div>
									</div>
								</div>
								<hr />
							</div>
						</div>
					</div>

					<input type="hidden" name="pesquisaequipe"
						th:value="${pesquisa.id}" /> <input type="hidden" name="ip"
						id="ip" />

					<button type="submit" class="btn btn-success">Enviar
						Resposta</button>
				</form>
			</div>
		</div>

	</div>

	<hr />
	<footer id="footer" class="footer"> 2018 © Proergon. Todos os
		direitos reservados. </footer>
	<!--  <script src="jquery.js"></script>-->

	<script src="bootstrap/js/jquery.min2.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>