<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Pesquisa - A Voz do Cliente</title>
<link rel="shortcut icon" href="img/proergon.ico" type="image/x-icon" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="jumbotron" align="center" >
			<h1>
				<span >Ah não! Algo errado aconteceu.</span>
			</h1>
			
			<h6><span>Não há pesquisa disponivel para responder. Sinto muito!</span></h6>
		</div>


		
	</div>



	<!--  <script src="jquery.js"></script>-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>